.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: white;
	z-index: 100;
	width: 100%;
}
.header__icon {
	object-fit: contain;
	height: 100px;
	margin-left: 20px;
}
.header__center {
	display: flex;
	flex: 1;
	border: 1px solid lightgrey;
	padding: 10px;
	align-items: center;
	border-radius: 999px;
	max-width: fit-content;
	width: 100%;
}
.header__right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 15vw;
	margin-right: 80px;
}
.header__center > input {
	outline: none;
	border: none;
	padding: 10px;
	width: 250px;
}
