.searchResult {
	display: flex;
	position: relative;
	margin: 20px;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid lightgrey;
}
.searchResult:hover {
	opacity: 0.8;
}
.searchResult > img {
	height: 200;
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
}
.searchResult__header {
	position: absolute;
	right: 40px;
	top: 20px;
}
.search__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
}
.infotop {
	width: 40vw;
}
.search__info > h1 {
	margin-bottom: 30px;
}
.infotop > p {
	margin-top: 10px;
	font-size: 13px;
	color: grey;
}
.infobottom {
	display: flex;
	justify-content: space-between;
}
.star {
	display: flex;
	align-items: center;
}
.search__price > p {
	text-align: right;
	margin-top: -20px;
}
.search__price {
	position: absolute;
	bottom: 20px;
	right: 30px;
}
